*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/*
/build
.idea/vcs.xml

.idea/encodings.xml
.idea/compiler.xml
.idea/gradle.xml
.idea/modules.xml
.idea/misc.xml
.idea/runConfigurations.xml
